/* Modal Backdrop */
dialog::backdrop {
  @apply bg-black bg-opacity-80 backdrop-blur-md;
}

/* Modal Container */
dialog.modal-styles {
  @apply rounded-lg p-8 max-w-lg w-11/12 shadow-2xl bg-gray-900 text-gray-100;
}

/* Header & Close Button */
.modal-header {
  @apply flex justify-end mb-4;
}

.close-text {
  @apply text-sm font-bold uppercase text-gray-100 cursor-pointer;
}

dialog h2 {
  @apply text-xl font-medium mb-6 text-gray-100;
}

/* Input Styles */
.input-group {
  @apply mb-5 flex flex-col;
}

.input-group label {
  @apply text-sm font-bold mb-2 text-gray-100;
}

.input-group input,
.input-group textarea {
  @apply border-b border-gray-600 bg-transparent text-gray-100 focus:border-gray-100;
}

/* Footer & Submit Button */
.form-footer {
  @apply flex justify-between items-center mt-6;
}

.terms-text {
  @apply text-xs text-gray-400;
}

.submit-btn {
  @apply bg-gray-100 text-gray-900 font-bold py-2 px-4 rounded hover:bg-gray-200;
}

.arrow-icon {
  @apply flex justify-center items-center w-8 h-8 border border-gray-600 rounded-full text-gray-100;
}