<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Remove .html extension
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([^.]+)$ $1.html [L]

  # Rewrite /pt to /pt/index.html
  RewriteCond %{REQUEST_URI} ^/pt/?$
  RewriteRule ^pt/?$ pt/index.html [L]

  # Rewrite /en to /en/index.html
  RewriteCond %{REQUEST_URI} ^/en/?$
  RewriteRule ^en/?$ en/index.html [L]

  # Rewrite /pt to /pt/index.html
  RewriteCond %{REQUEST_URI} ^/pt/?$
  RewriteRule ^pt/servicos?$ pt/services.html [L]

  # Rewrite /en to /en/index.html
  RewriteCond %{REQUEST_URI} ^/en/?$
  RewriteRule ^en/services?$ en/services.html [L]
</IfModule>
